body{
  font: 15px/1.5 Arial,  Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color:black;
}

/*content image*/
.content img{
  width: 100%;
  max-width: 700px;
    margin: 20px 0;
}


/*Global container*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/*Sign in button in header*/
.signin{
  position: relative; right: 5%; cursor: pointer; color:  #5d5dff; transition: 0.3s;
}

.signin:hover{
  color: gray;
}
/*end of sign in button*/



/*Sign up button in header*/
button{
  cursor: pointer;
  border-radius:4px;
  font-size: 16px;
  margin-right: 50px;
  border: none;
  color: #fff;
  width: 120px;
    height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: 0.5s;
  background: #5d5dff;
}

button:hover{
  background: #2980b9;
}
/*end of sign up button*/




/*header section*/
header{
  background: transparent;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: transparent;
}


/*Navbar in header*/
.header{
  height: 100px;
  background: transparent;
  padding: 0 20px;
  color: #fff;
  text-align: center;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  line-height: 100px;
  text-align: center;

}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}
/*End of navbar*/

header #branding{
  float: left;
}
header #branding h1 {
  margin: 0;
}


header .highlight, header .current a{
  color: blue;
}
/*End of header section*/


/*showcase section*/
#showcase {
  min-height: 300px;
  background-image: url(images/5.jpeg) ;
  text-align: center;
  color: #ffff;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}



#showcase p{
  font-size: 20px;
}

.button1{
  float: left;
  text-decoration: none;
  background-color:#5d5dff;
  color: white;
  font-size: 13px;
  width: 70px;
  height: 20px;
  border-radius: 10px;
 margin-top: 15px; 
 transition: 0.5s;
}
.button1:hover {
  background-color: rgb(0, 162, 255);
}


.button2{
  float: left;
  text-decoration: none;
  background-color:#4299e1;
  color: white;
  font-size: 13px;
  width: 90px;
  height: 20px;
  border-radius: 10px;
 margin-top: 15px; 
 transition: 0.5s;
 margin-left: 10px;
}
.button2:hover {
  background-color: rgb(0, 119, 255);
}

.button3{
  float: left;
  text-decoration: none;
  background-color:#ed64a6;
  color: white;
  font-size: 13px;
  width: 70px;
  height: 20px;
  border-radius: 10px;
 margin-top: 15px; 
 transition: 0.5s;
 margin-left: 10px;
}
.button3:hover {
  background-color: rgb(255, 0, 85);
}
.button4{
  float: left;
  text-decoration: none;
  background-color:#4299e1;
  color: white;
  font-size: 13px;
  width: 90px;
  height: 20px;
  border-radius: 10px;
 margin-top: 15px; 
 transition: 0.5s;
 margin-left: 10px;
}
.button4:hover {
  background-color: rgb(0, 119, 255);
}


.button5{
  float: left;
  text-decoration: none;
  background-color:#5d5dff;
  color: white;
  font-size: 13px;
  width: 70px;
  height: 20px;
  border-radius: 10px;
 margin-top: 15px; 
 transition: 0.5s;
}
.button5:hover {
  background-color: rgb(0, 162, 255);
}

.button6{
  float: left;
  text-decoration: none;
  background-color:#4299e1;
  color: white;
  font-size: 13px;
  width: 150px;
  height: 20px;
  border-radius: 10px;
 margin-top: 15px; 
 transition: 0.5s;
 margin-left: 10px;
}
.button6:hover {
  background-color: rgb(0, 119, 255);
}

/*End of showcase section*/

/*newsletter section*/
#newsletter{
  padding: 15px;
  color: #fff;
  background:#5d5dff;
  width: 73%;
  height: 180px;
  position: relative;
  left: 10%;
}
#newsletter button{
  color: #c5d2dc;
}

#newsletter h1{
  float: left;
  font-size: 35px;
}

#newsletter form{
  float: right;
  margin-top: 45px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 35px;
  width: 250px;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffff;
}


/*End of newsletter section*/


/* boxes*/
#boxes {
  margin-top: 20px;
  color: white;
}
.naslov{
  color: gray;
  text-align: center;
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#boxes .box {
  float:left;
  text-align: center;
  width:30%;
  padding: 10px;
}

#boxes .box img{
  width: 60px;
  border-radius: 40px;
}
.paragraf{
  color: gray;
  text-align: center;
  font-size: 25px;
}

.fa {
  font-size:18px; color: green; position: relative; left: 10%; bottom: 10px;
}

.paragrafdva{
  position: relative;
  left: 10%;
}
.paragraftri{
  position: relative;
  left: 10%;
  color: gray;
  bottom: 15px;
}
.naslovdva{
  position: relative;
  left: 10%;
  color: gray;
  bottom: 15px;
}
.naslovtri{
  text-align: center;
  color: gray;
  bottom: 15px;
  font-size: 50px;
}
.paragrafcetiri{
  position: relative;
  left: 25%;
  color: #808080;
  font-size: 20px;
}
.paragrafpet{
  position: relative;
  left: 35%;
  color: #808080;
  font-size: 20px;
}

/*end of boxes section*/


/*SIDE BAR*/
.images {
  display: flex;
  width: 100%;
}
.images img {
  height: 400px;
  width: 100%;
  transition: all 0.50s ease;
}
.images input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #fff 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
  margin-left: 0;
}
#img2:checked ~ .m2 {
  margin-left: -100%;
}
#img3:checked ~ .m3 {
  margin-left: -200%;
}
#img4:checked ~ .m4 {
  margin-left: -300%;
}


/*end of sidebar*/

/*svg image*/

 #Capa_1{
   width: 200px;
   margin: 0% auto;
   display: block;
   position: relative;
   left: 10%;
   bottom: 150px;
 }
 .face, .man{
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke-dasharray: 2000;
 }
 .man{
   animation: man 6s ease-in-out;
 }
 @keyframes man{
   0%{
     stroke-dashoffset: 2000;
   }
   
   100%{
    stroke-dashoffset: 0;
  }
 }
 .face{
   animation: face 12s ease-in-out;
 }
 @keyframes face{
  0%{
    stroke-dashoffset: 2000;
  }
  50%{
    stroke-dashoffset: 2000;
  }
  100%{
   stroke-dashoffset: 0;
 }
}



/*End of svg illustraton*/

/*video*/
.feature-img{
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.play-btn{
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.video-player{
  width: 55%;
  position: absolute;
  left: 50%;
  top: 83%;
  transform: translate(-50%, -50%);
  display: none;
}
video:focus{
  outline: none;
}
.close-btn{
  position: absolute;
  top: 8%;
  right: 10px;
  left: 92%;
  width: 30px;
  cursor: pointer;
  
}
/*
end of video
*/


/*pichture section*/
.slika{
   
    width: 100%;
    max-width: 400px;
    height: auto;
}

#pichture h2{
  color: gray; text-align: center; font-size: 40px;
}

#pichture h5{
  color: white; float: right; margin-top: 200px; margin-right: 430px; font-size: 20px;
}


.card-title {
  font-size: 30px;
  text-align: right;
  font-weight: bold;
 
}
div.card-image{
  padding-bottom: 100px;
}
div.card-image img {
  width: 50%;
  height: auto;
  padding-top: 220px;

}
/*end of pichture section*/


/* Phone Devices Query */
@media only screen and (max-width: 37.5em) {
  div.card-image img{
    width: 100%;
    height: auto;
  }

  .card {
    width: 100%;
    margin-top: -4px;
  }
}

.image {
  display: inline-block;
  text-align: center;
    width: 33%;
    float: left;
}

figure{
  overflow: hidden;
  margin: 0 10px;

}
h3{
  color: gray;
  margin-top: 40px;
  font-size: 25px;
}
p{
  padding: 0 10px;
}
.image img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.image #zoom-in img{
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.image #zoom-in:hover img{
  transform: scale(1.1);
}
/* media querys */
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .naslovdva.example,
  .naslovtri.example {
    font-size: 80px;
    float: none;
    text-align: center;
    width: 100%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .paragrafdva.example,
  .paragraftri.example,
  .paragrafcetiri.naslovdva.example {
    font-size: 30px;
    float: none;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}
@media(max-width: 760px){
  header #branding,
  header nav,
  header nav li,
  #showcase h1,
  #newsletter h1,
  #newsletter form,
  #newsletter p,
  #pichture img,
  #pichture h5,
  #pichture h2,
  #pichture p,
  #boxes .box,
  footer p,
  footer .footermenu,
  .naslov,footer, .block, #newsletter .container #pichture .container img {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button{
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}





/*footer */

footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: transparent;
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: gray;
  background-color:transparent;
  
}
footer img {
  width: 50px;
  border-radius: 20px;
  opacity: 0.7;
  background-color: transparent;
}

.footer > *{
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}


h2{
  font-weight: 600;
  font-size: 17px;
}

.footer ul{
 padding-left: 0;
  list-style: none;
}

.footer li {
  line-height: 2em;
}

.footer a{
  text-decoration: none;
}

.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}

.footermenu a{
  color: white;
}

.footer-bottom{
  text-align: center;
  color: #999;
}

.footer-left p{
  padding-right: 20%;
  color: #999;
}
.socials a{
  background: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 20px;
  transition: 0.3s;
}

.socials a:hover{
  background-color: rgba(128, 128, 128, 0.342);
}


.socials a i{
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}

@media screen and (min-width: 600px){
  .footer-right>*{
    flex: 1;
  }
  .footer-left{
    flex: 1 0px;
  }
  .footer-right{
    flex: 2 0px;
  }
}

@media (max-width:600px){
  footer{
    padding: 15px;
  }
  
}


@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn,#showcase .imagee, .feature-img img,img, .block ,header #branding,
  header nav,
  header nav li,
  #showcase h1,
  #newsletter h1,
  #newsletter form,
  #newsletter p,
  #pichture img,
  #pichture h5,
  #pichture h2,
  #pichture p,
  #boxes .box,
  footer p,
  footer .footermenu,
  .naslov,footer, .block, #newsletter .container #pichture .container img{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 58vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}


